.inputboxwrapper{
    display: flex;
    flex-direction: row;
}

.input{
    display: table-cell;
    vertical-align: middle;
}

.inputbox{
    border: 0px solid #fff;
    font-size: 1em;
    font-weight: 600;
    color:#424242;
    position: relative;
    height: 100%;
    margin-left: 0.5em;
}

.inputbox:focus {
    outline: none;
    /* border: 2px solid #1565c07c; */
}

.icon{
    display: flex;
    align-items: center;
    width: 1.5em;
}

.closebtn{
    display: table-cell;
    vertical-align: middle;
}

.menubtn{
    display: table-cell;
    vertical-align: middle;
}

.btn{
    position: relative;
    color: #989898;
    font-size: 1.1em;
    margin-left: 0.5em;
}