.menu{

    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 90%;
    height: 50%;
    background-color: #FEFEFE;
    border-radius: 10px;
    boxShadow: 24;
    p: 4;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 10%;
}

.content{
    width: 100%;
    height: 70%;
}

.title{
    margin-top: 1.2em;
    font-size: 1em;
    font-weight: 600;
}



.desc{
    margin: 0.1em;
}

.sub{
    font-size: 0.7em;
    font-weight: 600;
    color: #d3d3d3;
}

.close{
    display: flex;
    width: 100%;
    margin-left: 4em;
}

.closeicon{
    font-weight: 600;
    font-size: 2em;
    color: #d3d3d3;

}

.menulist{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3em;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em;
    height: 10%;
}

.item{
    margin : 0 0.8em 0 0.8em;
}

.itemtitle{
    font-size: 0.8em;
    font-weight: 500;
}

.icon{
    font-size: 3em;
    color: #d3d3d3;
    margin: 1em;
}

.talk{
    color: #f9e000;
    font-size: 2em;
    margin: 1em;
}

.bottom {
    text-align: center;
    margin: 0.5em;
    height: 10%;
}
.donate{
    font-size: 0.8em;
    font-weight: 700;
}

.account{
    font-size: 0.8em;
    font-weight: 600;
}
.notice{
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    color: #626262;
    line-height: 180%;
}

.author{
    margin: 2em;
    font-size: 0.5em;
    color: #cbcbcb;
}
