.menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.icon{
    font-size: 3em;
    color: #d3d3d3;
    margin: 1em;
}

.talk{
    color: #f9e000;
    font-size: 2em;
    margin: 2em;
}

.notice{
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    color: #626262;
    line-height: 180%;
}

.author{
    font-size: 0.5em;
    color: #cbcbcb;
}